.searchContainer {
    position: relative;
    margin-bottom: 1rem;
}

.icon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    color: #9ca3af;

}

.input {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #f9fafb;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    transition: all 0.2s;
    font-size: 1rem;
}

.input:focus {
    outline: none;
    background-color: #ffffff;
    border-color: #6366f1;
    box-shadow: 0 0 0 1px #6366f1;
}